.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 70%
    right: 70%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 36%
    right: 10%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

.banner-principal__row .banner-principal__img
  padding-right: 11.5rem !important

.bg_grad-01
  position: relative
  .row, p, figure,
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -3rem 
    top: 0em
    left: 0px
    width: calc( 100% + 6rem)
    height: 100%
    background-image: url("../assets/curso/temas/fondo.svg")
    background-repeat: no-repeat

.colorintro
  background-color: #FAEDC0
  border-radius: 0 px 

.color-1
  background-color: #D9E2F4
  border-radius: 0px

.color-2
  background-color: #D3EDE5
  border-radius: 0px

.color-3
  background-color: #ECF7F4
  border-radius: 0px

.bg_grad-02
  position: relative
  .row, p, figure, h4, 
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -3rem 
    top: 0em
    left: 0px
    width: calc( 100% + 6rem)
    height: 100%
    background-image: url("../assets/curso/temas/fondo2.svg")
    background-repeat: no-repeat

.color-4
  background-color: #FAEDC0
  border-radius: 0px

.color-5
  background-color: #ECF7F4
  border-radius: 20px

.color-6
  background-color: #FDF8E4
  border-radius: 0px

.color-7
  background-color: #ECF7F4

.tabs-a__tab
  display: block
  width: 100%
  text-align: left
  background-color: #E8E8E8
  padding: 15px 20px
  border-radius: 5px
  color: #111e61
  line-height: 1.2em

.color-8
  background-color: #F3F9FF
  border-radius: 0px

.tabs-c__header
  margin-bottom: 0px

.bg_grad-03
  position: relative
  .row, p, figure, h4, #t_2_4,
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -3rem 
    top: 0em
    left: 0px
    width: calc( 100% + 6rem)
    height: 100%
    background-image: url("../assets/curso/temas/fondo3.svg")
    background-repeat: no-repeat

.bg_grad-04
  position: relative
  .row, p, figure, h4, #t_2_4,
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -3rem 
    top: 0em
    left: 0px
    width: calc( 100% + 6rem)
    height: 100%
    background-image: url("../assets/curso/temas/fondo4.svg")
    background-repeat: no-repeat

.color-9
  background-color: #D2E1F1
  border-radius: 0px
  height: 100%

.tabla-a.color-acento-botones thead
  border-color: #ffffff

.bg_grad-05 
  position: relative
  .row, p, figure, h4, .tarjeta,
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -3rem 
    top: 0em
    left: 0px
    width: calc( 100% + 6rem)
    height: 100%
    background-image: url("../assets/curso/temas/fondo5.svg")
    background-repeat: no-repeat

.colorsly
  background-color: #ECF7F4
  border-radius: 20px !important

.slyder-a__tipo-b .slyder-a__btn--atrs, .slyder-a__tipo-b .slyder-a__btn--sigt
  background-color: #80CAB6

.bg_grad-06
  position: relative
  .row, p, figure, h4, .tarjeta,
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -3rem 
    top: 0em
    left: 0px
    width: calc( 100% + 6rem)
    height: 100%
    background-image: url("../assets/curso/temas/fondo6.svg")
    background-repeat: no-repeat

.color-10
  background-color: #ECF7F4
  border-radius: 20px

.colorava
  background-color: #ECF7F4
  border-radius: 20px

.colorgris
  background-color: #F6F6F6

.acordion__activo 
  background-color: #ECF7F4!important

.color-11
  background-color: #ECF7F4
  border-radius: 0px